body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
form input {
  margin-top: 1em;
}
.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ticker {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.column {
  padding: 10px;
}

.greaterThanOpen {
  color: green;
}

.equalToOpen {
  color: gray;
}

.lessThanOpen {
  color: red;
}
